
body{
    background-color: rgb(215, 241, 232);
}


h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

.Aboutpage {
    color:  rgb(12, 19, 58);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Skillspage{
    color: rgb(12, 19, 58);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Portfoliopage{
    color:  rgb(12, 19, 58);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.ContactPage{
    color:  rgb(12, 19, 58);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    color: blue;
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: 40px;
    margin-bottom: 10px;
    
    
}

MrCat{
    border-radius: 20px;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

img[alt~="CatCondo"] {
    border-radius: 50px;
    margin-bottom: 15px;
    margin-top: 20px;
}

img[alt~="Catniptoys"] {
    border-radius: 50px;
    margin-bottom: 15px;
    margin-top: 20px;
}

img[alt~="meow&hiss"] {
    border-radius: 50px;
    margin-bottom: 15px;
    margin-top: 20px;
}

label {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#Name {
 
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

#Email {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    border-color: blue;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 20px;
    box-sizing: border-box;
    background-color: rgb(205, 206, 212);
    margin-bottom: 40px;
}

#Companyreg {
    font-weight: bold;
}

